<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}

</head>
<body>
{{>navbar}}    
<!-- header section starts  -->

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <img class="servic2" src="images/servic2.png" alt="">
        <h3>grow your business with us</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus quis tenetur sed accusantium quos est enim autem saepe eveniet!</p> -->
        
    </div>

    <div class="image">
        <img src="https://media0.giphy.com/media/Vnk8f29XU6GSZK8uGJ/giphy.gif?cid=ecf05e47guvcicamuefsfzaahnx6wu46xzpeb799zl5ax5o6&rid=giphy.gif&ct=s" alt="">
    </div>

</section>

<!-- home section ends -->


<!-- service section starts  -->

<section class="service" id="service">

    <h1 class="heading"> our services </h1>

    <div class="box-container">

        <div class="box">
          <div class="img">
            <img class="webT" src="images/port-img2.jpg" alt="">
          </div>
            <h3>Web Technology</h3>
            <a href="#" class="btn">Add to Cart</a>
            <a href="#" class="btn">Details</a>
        </div>

        <div class="box">
            <img src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2018/07/logo-making.jpeg" alt="">
            <h3>Logo Making</h3>
            <a href="#" class="btn">Add to Cart</a>
            <a href="#" class="btn">Details</a>
        </div>

        <div class="box">
            <img src="images/port-img3.jpg" alt="">
            <h3>App Development</h3>>
            <a href="#" class="btn">Add to Cart</a>
            <a href="#" class="btn">Details</a>
        </div>

        <div class="box">
            <img src="https://i0.wp.com/eduspiral.com/wp-content/uploads/2018/11/Graphic-_Design.jpg?fit=800%2C508&ssl=1" alt="">
            <h3>Graphic Designing</h3>
            <a href="#" class="btn">Add to Cart</a>
            <a href="#" class="btn">Details</a>
        </div>

        <div class="box">
            <img src="https://www.tumarketing.co.uk/wp-content/uploads/2021/02/why-social-media.jpg" alt="">
            <h3>Digital Marketing</h3>
            <a href="#" class="btn">Add to Cart</a>
            <a href="#" class="btn">Details</a>
        </div>

        <div class="box">
            <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2021/02/social-media-opportunities-601bc9d146e00.png" alt="">
            <h3>media marketing</h3>
            <a href="/mail" class="btn">Add to Cart</a>
            <a href="/details" class="btn">Details</a>
        </div>

    </div>

</section>

<!-- service section ends -->


<!-- team section starts  -->

<section class="team" id="team">

    <h1 class="heading">our team</h1>

    <div class="box-container">

        <div class="box">
            <img src="images/Devottam.jpeg" alt="">
            <h3>Devottam Vaishnav</h3>
            <span>Frontend Developer</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/Divesh.jpeg" alt="">
            <h3>Divesh Kumar Bhoi</h3>
            <span>Backend Developer</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/Sandeep.jpg" alt="">
            <h3>Sandeep Saini</h3>
            <span>Frontend Developer</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/nitin.jpeg" alt="">
            <h3>Nitin Choudhary</h3>
            <span>UI Developer</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

</section>

<!-- team section ends -->

<!-- footer section  -->

<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Your one-step solution to all the services you need is met by us.</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">service</a>
            <a href="#">team</a>
        </div>

        <div class="box">
            <h3>category</h3>
            <a href="#">Web Developement</a>
            <a href="#">Logo Making</a>
            <a href="#">App Developement</a>
            <a href="#">Graphic Designing</a>
            <a href="#">Digital Marketing</a>
            <a href="#">Media Marketing</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <h1 class="credit">copyright &copy; 2022 Servicaza.in </h1>

</div>

<!-- custom js file link  -->
<script src="script.js"></script>

</body>
</html>