<header>
  <a href='#'><img class='logo' src='images/servicaza.png' alt='' /></a>
  <div id='menu-bar' class='fas fa-bars'></div>
  <nav class='navbar'>
    <a style='--i:0;' href='/'>home</a>
    <a style='--i:2;' href='#service'>service</a>
    <a style='--i:4;' href='#team'>team</a>
    <a style='--i:4;' href='/register'>Login</a>
  </nav>
</header>